#tooltip.bar-chart {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 150px;
  height: 50px;
  padding: 2px;
  font: 12px;
  background: #FAFAFA;
  box-shadow: 1px 1px 10px;
  border-radius: 2px;
  pointer-events: none;
}

.overlay {
  position: absolute;
  background: #FAFAFA;
  pointer-events: none;
}